main {
   margin: 15px;
   display: flex;
   flex-wrap: wrap;
}

header {
   margin: 20px 25px 5px;
   display: flex;
   gap: 30px;
   align-items: flex-start;
}

select {
   font-size: 14px;
   width: 235px;
   padding: 5px 10px;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url("/img/down-arrow.svg") center right 10px no-repeat;
   background-size: 12px;
}

img {
   padding: 16px;
   min-width: 150px;
   max-width: 150px;
   height: 220px;
}

p {
   margin-bottom: 8px;
}

label {
   font-size: 14px;
}

.card {
   font-size: 14px;
   border: none;
   display: flex;
   flex-direction: row;
}

.card-desc {
   display: none; /*ДЛЯ МОДАЛКИ*/
   height: 85px;
   overflow-y: auto;
   margin-bottom: 8px;
}

.modal {
   display: block; /*ДЛЯ МОДАЛКИ - ИЗМЕНИ НА НУЖНЫЙ КЛАСС*/
}

.card-text span {
   font-size: 20px;
   font-weight: 500;
}

.card.m-2 {
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-radius: 5px;
}

.card.m-2:hover {
   box-shadow: 0px 0px 50px -5px rgba(34, 60, 80, 0.2);
   transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
   z-index: 2;
}

.btn {
   padding: 8px 26px;
}

.form-check:last-of-type {
   margin-bottom: 8px;
}

.genres h6 {
   margin-top: 8px;
}
